@{
    ViewBag.Title = "Long Context Title";
}

@section ContextActions
{
    <button class="pure-button"><i class="fa fa-trash-o fa-lg"></i></button>
}

<h2>About</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <h4>Header</h4>
            <p>The body of a tile</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <h4>Header</h4>
            <p>The body of a tile</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <h4>Header</h4>
            <p>The body of a tile</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <h4>Header</h4>
            <p>The body of a tile</p>
        </div>
    </div>
</div>
